.navbar {
  height: var(--navbar-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: beige;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__links {
    display: flex;
    gap: 1rem;
  }
}
