.testimonial-section {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-family: var(--font-secondary);
    color: var(--clr-text-primary);
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__description {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: center;
  }

  &__main {
    height: 100%;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 5rem;
  }
}

@media (max-width: 1000px) {
  .testimonial-section {
    &__list {
      flex-direction: column;
    }
  }
}
