:root {
  --navbar-height: 100px;
  --footer-height: 10rem;

  --box-shadow-primary: 4px 3px 9px 0px rgb(0 0 0 / 10%);
  --box-shadow-secondary: 12px 9px 38px 0px rgb(0 0 0 / 10%);

  --transition-slow: all 0.3s ease-in-out;
  --transition-base: all 0.2s ease-in-out;
  --transition-fast: all 0.1s ease-in-out;

  --clr-overlay-primary: hsla(0, 0%, 100%, 0.9);
  --clr-overlay-secondary: hsla(0, 0%, 100%, 0.1);

  --clr-bg-primary: #ffffff;
  --clr-bg-secondary: #564741;

  --clr-bg-tertiary: #fcf9f5;
  --clr-bg-quaternary: #564741;

  --clr-bg-neutral: #ffffff;

  --clr-text-primary: #564741;
  --clr-text-secondary: #646464;
  --clr-text-neutral: #ffffff;

  --clr-accent-primary: #f69946;
  --clr-accent-secondary: hsl(39, 56%, 92%);
}

.app {
  width: 100wv;
}

.swiper-button-prev {
  background-color: var(--clr-accent-primary);
  border-radius: 0rem 1rem 1rem 0rem;
  color: var(--clr-text-neutral);
  left: 0;
  margin: 0;
  padding: 1.5rem;
  transition: var(--transition-fast);

  &::after {
    font-size: 1.5rem;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.swiper-button-next {
  background-color: var(--clr-accent-primary);
  border-radius: 1rem 0rem 0rem 1rem;
  color: var(--clr-text-neutral);
  margin: 0;
  padding: 1.5rem;
  right: 0;
  transition: var(--transition-fast);

  &::after {
    font-size: 1.5rem;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.container-xl {
  margin: 0 auto;
  width: 1400px;
}

.container-lg {
  margin: 0 auto;
  width: 1200px;
}

.container-md {
  margin: 0 auto;
  width: 1000px;
}

@media (max-width: 1400px) {
  .container-xl {
    margin: 1rem;
    width: calc(100% - 2rem);
  }
}

@media (max-width: 1200px) {
  .container-lg {
    margin: 1rem;
    width: calc(100% - 2rem);
  }
}

@media (max-width: 1000px) {
  .container-md {
    margin: 1rem;
    width: calc(100% - 2rem);
  }
}

@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transition: all 400ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
