:root {

  --navbar-height: 3.5rem;
  --footer-height: 3.5rem;

  --box-shadow-primary: box-shadow: 4px 3px 9px 0px rgb(0 0 0 / 10%);
  --box-shadow-secondary:box-shadow: 12px 9px 38px 0px rgb(0 0 0 / 10%);


  --clr-bg-primary: #F9F4EA;
  --clr-bg-secondary: #3a3330;
  --clr-bg-neutral: #ffffff;

  --clr-text-primary: #3a3330;
  --clr-text-secondary: #ffffff;

  --clr-accent-primary: #f69946;
}
