:root {
  --navbar-height: 100px;
  --footer-height: 3.5rem;

  --box-shadow-primary: 4px 3px 9px 0px rgb(0 0 0 / 10%);
  --box-shadow-secondary: 12px 9px 38px 0px rgb(0 0 0 / 10%);

  --transition-slow: all 0.3s ease-in-out;
  --transition-base: all 0.2s ease-in-out;
  --transition-fast: all 0.1s ease-in-out;

  --clr-bg-primary: #f9f5eb;
  --clr-bg-secondary: #3a3330;
  --clr-bg-tertiary: #cfc6b6;
  --clr-bg-neutral: #ffffff;

  --clr-text-primary: #3a3330;
  --clr-text-secondary: #ffffff;

  --clr-accent-primary: #f69946;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

@media (max-width: 1200px) {
  .container {
    margin: 1rem;
    width: calc(100% - 2rem);
  }
}
