.base-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: var(--transition-slow);

  &:hover {
    background-color: var(--clr-bg-secondary);
  }

  &--primary {
    background-color: var(--clr-accent-primary);
    color: var(--clr-text-neutral);
  }

  &--secondary {
    background-color: var(--clr-bg-neutral);
    color: var(--clr-text-primary);
  }
}
