.footer {
  background-color: var(--clr-bg-secondary);
  height: var(--footer-height);

  &__wrapper {
    display: flex;
  }

  &__left-content {
    flex: 1;
    padding: 1.5rem;
  }

  &__right-content {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }

  &__office-hours-row {
    width: 100%;
    display: flex;
    color: var(--clr-text-secondary);
    justify-content: space-between;
  }

  &__office-hours-day {
    font-size: 1rem;
  }

  &__office-hours-time {
    font-size: 1rem;
  }
}
