.base-badge {
  display: inline-block;
  background-color: var(--clr-bg-neutral);
  padding: 0 0.6em;
  padding-bottom: 0.1em;
  font-size: 1.8em;
  font-family: var(--font-secondary);
  border-radius: 0.2rem;
  box-shadow: var(--box-shadow-primary);
  color: var(--clr-accent-primary);
}
